@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  @apply h-full w-full relative;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar-track {
  display: none;
}

.web3modal-modal-card, .web3modal-modal-card > * > *{
  border-radius: 0px !important;
}